/* Eléments principaux de la page */

body
{
    background: white;
    font-family: Arial, sans-serif;
    color: rgb(73, 80, 94);
}

#bloc_page
{
    width: 1000px;
    margin: auto;
    
}

section h1, nav a
{
    text-align: center;
    font-family: Arial, serif;
    font-size: 2.5em;
    text-transform: uppercase;
}

/* Header */

header
{
    background: rgb(73, 80, 94) repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 110px;
    border-radius: 5px;
}

#logo
{
  margin: 0 0 25px 5%;
  color: #ffffff;
}

header h1
{
    font-family: arial, serif;
    font-size: 3.5em;
    font-weight: normal;
    margin: 0 0 0 0;

}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
    margin-right: 0px;
}

nav li
{
    margin-right: 50px;
}

nav h3
{
    font-family: arial, serif;
    font-size: 1.3em;
    color: #ffffff;
    padding-bottom: 3px;
    text-decoration: none;
}

#imagem
{
  text-align: center;
  font-family: Dayrom, serif;
  font-size: 3em;
  text-transform: uppercase;
}

/* Bannière */

#banniere_image
{
    margin-top: 15px;
    height: 268px;
    border-radius: 5px;
    background: whitesmoke;
    position: relative;
    margin-bottom: 25px;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 10px 10px 10px 10px;
    width: 30%;
    height: 100%;
    padding-left: 4px;

    font-size: 0.8em;
    
}

.best_title
{
    position: absolute;
    left: 30%;
    top: 20%;
    font-size: 1.2em;
    text-align: center;
    color: rgb(73, 80, 94);
    font-family: arial, serif;
    font-size: 1.3em;
}
.best_desc
{
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 10%;
  font-size: 1em;
  text-align: center;
  color: rgb(73, 80, 94);
}

.play
{
    height: 25px;
    position: absolute;
    left: 30%;
    bottom: 50%;
    background: url('img/fond_degraderouge.png') repeat-x;
    border: 1px solid #940e10;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 30px 0px 30px;
    color: white;
    text-decoration: none;
}

.play img
{
    border: 0;
}




/* Bloc à Carousel */
.item {
 margin:20px;
 background-color:#fff;
 transition:transform .3s;
 transform:translate3d(0,-1px,0)
}
.item:hover {
 transform:translate3d(0,-10px,0)
}
.item img {
 display:block;
 width:100%;
 height:auto
}
.item__body {
 padding:25px
}
.item__title {
 font-size:24px;
 margin-bottom:5px;
 font-weight:700;
 color:#232323
}
.item__description {
 color:#585858
}

/* Caroussel */

.carousel {
  background: whitesmoke;
  border-radius: 5px;
  position: relative;
  overflow-x:hidden;
  width: 960px;
  padding:0px 20px;
}

.carousel__container {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}


.caroussel__container::after {
  content: '';
  clear: both;
  display: table;
}

.carousel__item {
  float: left;
}

.carousel__next {
  position: absolute;
  width: 40px;
  height: 50px;
  background-image: url(img/right.png);
  background-size: 40px 50px;
  top: 50px;
  margin-top: 100px;
  left: auto;
  right: 0px;
  cursor: pointer;
}

.carousel__prev {
  position: absolute;
  width: 45px;
  height: 50px;
  background-image: url(img/left.png);
  background-size: 40px 50px;
  top: 50px;
  margin-top: 100px;
  right: auto;
  left: 0px;
  cursor: pointer;
}






/* Modale */
/* Décrire l'animation */
@keyframes slideDownFadeIN {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}

/* Foncer l'arrière-plan de la fenêtre modale */
.modal {
  display: none; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Afficher la fenêtre modale lorsqu'elle est ciblée par un lien supprimer */
.modal:target {
  display: table;
  position: absolute;
}

/* la fenêtre modale  */
.modal-dialog {
  display: table-cell;
  vertical-align: middle;
}

/* Le contenu de la modale */
.modal-dialog .modal-content {
  margin: auto;
  background-color: #f3f3f3;
  position: relative;
  padding: 0;
  outline: 0;
  border: 1px #777 solid;
  text-align: justify;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
  animation-name: slideDownFadeIN;
  animation-duration: 0.5s;
}

/* Bouton servant à fermer la fenêtre modale */
.closebtn {
  text-decoration: none;
  float: right;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}

.closebtn:hover,
.closebtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container {
  padding: 2px 16px;
}

headerm {
  background-color: #5cb85c;
  font-size: 25px;
  color: white;
}

footerm {
  background-color: #5cb85c;
  font-size: 20px;
  color: white;
}